.deps
.libs
*.la
*.lo
*.o
*.pyc
Makefile
Makefile.in
libbitcoin-node.pc

bin
obj
build
.*.swp
*~
/*.kdev4
/.cproject
/.project
/.settings
/nbproject

/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
.dirstamp

node_test/
/builds/msvc/vs2022/bn/hosts.cache
*.lock
*.vsidx
*.txt
*.data
*.head
